version: '3.3'
services:
  speedtest:
      image: comet1903/ookla-speedtest-server
      container_name: ookla-speedtest-server
      ports:
        - 8080:8080/udp
        - 8080:8080/tcp
        - 5060:5060/udp
        - 5060:5060/tcp
      restart: unless-stopped
      volumes:
        - <path to your OoklaServer.properties>:/speedtest/OoklaServer.properties
        # - <path to your key.pem>:/speedtest/key.pem # only custom ssl 
        # - <path to your cert.pem>:/speedtest/cert.pem # only custom ssl